<html>
<head>
    <title><%= title %></title>
    <script src="/tabcontent.js" type="text/javascript"></script>
    <link href="/tabcontent.css" rel="stylesheet" type="text/css" />

</head>


<body style="background:#F6F9FC; font-family:Arial;">

<div style="width: 680px; margin: 0 auto; padding: 100px 0 20px;">
    <ul class="tabs" data-persist="true">
        <li><a href="#view1">Driver</a></li>
        <li><a href="#view2">Vehicle</a></li>
        <li><a href="#view3">Accident</a></li>
        <li><a href="#view4">Allocation</a></li>
    </ul>
    <div class="tabcontents">
        <form action="http://127.0.0.1:8081/process_post" method="POST">

            <div id="view1">

                <table width="100%">
                    <tr>
                        <td>First Name: <input type="text" name="first_name"></td>
                        <td>Initial: <input type="text" name="initial_name"></td>
                        <td>Last Name: <input type="text" name="last_name"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Reported By: <select name="reportedby">
                                <option>Manager/Supervisor</option>
                                <option>Client</option>
                                <option>Driver</option>
                                <option>Email</option>
                            </select></td>
                        <td width="50%">Relation:
                            <select name="relation"><option>Assigned Driver</option> <option>Family</option><option>Co-Worker</option>
                            </select></td>

                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Street: <input type="text" name="street"></td>
                        <td width="50%">Driver License: <input type="text" name="driverLicense"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Line1: <input type="text" name="line1"></td>
                        <td width="50%">DOB: <input type="text" name="dob"></td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td width="50%">Line2: <input type="text" name="line2"></td>
                        <td width="50%">Age: <input type="text" name="age"></td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td width="50%">City: <input type="text" name="city"></td>
                        <td width="50%">SSN: <input type="text" name="ssn"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">State : <select>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select></td>
                        <td width="50%">Employee Id: <input type="text" name="employeeid"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Country : <select name="country"><option>USA</option><option>UK</option></select></td>
                        <td width="50%">Job Title: <input type="text" name="jobtitle"></td>
                    </tr>
                </table>

                <br>
                <div id="contact" class="tabcontents">
                    <table width="100%">
                        <tr>
                            <td colspan=2>Contacts :</td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td>Cell :</td><td>Home : </td><td>Work :</td>
                        </tr>
                        <tr>
                            <td><input type="text" name="contactCellNo"></td>
                            <td><input type="text" name="contactHomeNo"></td>
                            <td><input type="text" name="contactWorkNo"></td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width="50%">Fax : </td>
                            <td width="50%">Email ID : </td>
                        </tr>
                        <tr>
                            <td width="50%"><input type="text" name="fax"></td>
                            <td width="50%"><input type="text" name="emailId"></td>
                        </tr>

                    </table>

                </div>

            </div>
            <div id="view2">
                <table width="100%">
                    <tr>
                        <td width="50%">VIN: <input type="text" name="vin"></td>
                        <td width="50%">Client: <input type="text" name="client"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Product Class: <select name="producClass">
                                <option>CA - CARS</option>
                                <option>HT - HEAVY TRUCKS</option>
                                <option>LT - LIGHT TRUCKS</option>
                                <option>MT - MEDEIUM TRUCKS</option></select></td>
                        <td width="50%">Claims Id: <input type="text" name="claimsid"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Year: <input type="text" name="year"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Make: <select name="make">
                                <option>CHRYSLER</option>
                                <option>DODGE</option>
                                <option>FERRARI</option>
                                <option>GMC</option>
                                <option>HONDA</option>
                                <option>HUMMER</option>
                            </select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Model: <select name="model">
                                <option>1 TON</option>
                                <option>1 TON B/T</option>
                            </select></td>
                    </tr>
                </table>
                <table width="100%">

                    <tr rowspan="3">
                        <td width="50%" colspan="2">Color: <input type="text" name="color"></td>
                        <td width="50%">Damage Area:
                            <div id="contact" class="tabcontents">
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Series : <input type="text" name="series"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Body Style : <select name="bodyStyle">
                                <option>PICKUP</option>
                                <option>SPORT VAN</option>
                                <option>TRAILER</option>
                                <option>MINIVAN</option>
                                <option>4DR WAGON</option>
                            </select></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="50%" colspan="2">Plate Num: <input type="text" name="plateNum"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Plate State: <select name="plate">
                                <option>AL</option><option>AK</option><option>MD</option><option>DC</option><option>VA</option>
                            </select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Odometer: <input type="text" name="odometer"></td>
                        <td width="50%"> Detail
                            <div id="contact" class="tabcontents">
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%" colspan="2">Offroad Date: <input type="text" name="offroadDate"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td colspan=2>Vehicle Safe to Drive: <select name="safetodrive"><option>Yes</option><option>No</option></select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td>Driver Location : <input type="text" name="driverLocation"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td>Vehicle Location : <input type="text" name="vehicleLocation"></td>
                    </tr>
                </table>
            </div>

            <div id="view3">
                <table width="100%">
                    <tr>
                        <td width="32%" colspan="2">Full Details(max 2000 chars):</td><td> <input type="textarea" name="fulldetails" style="width: 300px; height: 50px;"></td>
                    </tr>

                </table>
                <table width="100%">
                    <tr>
                        <td width="32%" colspan="2">Street: </td><td ><input type="text" name="street"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="32%" >Line 1: </td> <td> <input type="text" name="line1"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="32%" >Line 2:</td><td> <input type="text" name="line2"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="32%">City:</td><td> <input type="text" name="city"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="32%">State:</td><td> <select name="state"><option>AL</option><option>AK</option></select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="32%">Country:</td><td> <select name="country"><option>USA</option><option>UK</option></select></td>
                    </tr>
                </table>
                <br>
                <table width="100%">
                    <tr>
                        <td width="50%">Incident_date: <input type="text" name="incidentDate"></td>
                        <td width="50%">Seat Belt: <select name="seatbelt1">
                                <option>Yes</option><option>No</option><option>Unknown</option>
                            </select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>

                        <td width="50%">Third Party: <select name="CellPhone">
                                <option>Yes</option><option>No</option>
                            </select></td>
                        <td width="50%">Cell Phone: <select name="CellPhone">
                                <option>Yes</option><option>No</option><option>Unknown</option>
                            </select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Witness: <select name="wintness">
                                <option>Yes</option><option>No</option>
                            </select></td>


                        <td width="50%">Cell Phone Type: <select name="phoneType">
                                <option>Hand Held</option><option>Hands Free</option><option>Not Determinable</option>

                            </select></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="50%">Injuries: <select name="Injuries">
                                <option>Yes</option><option>No</option>
                            </select></td>

                    </tr>
                </table>
            </div>
            <div id="view4">
                <table width="100%">
                    <tr>
                        <td width="10%">Bodyshop:</td>
                        <td width="10%"><input type="checkbox" name="chkBodyShop"></td>
                        <td width="10%"><input type="text" name="bodyshop1"></td>
                        <td width="70%"><input type="text" name="bodyshop2"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="30%">Glass:</td>
                        <td width="10%"><input type="checkbox" name="chkGlass"></td>
                        <td width="10%"><input type="text" name="glass1"></td>
                        <td width="10%"><input type="text" name="glass2"></td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%">Glass Ref#:</td>
                        <td width="10%"><input type="text" name="glass2"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="30%">Roadside Assitance:</td>
                        <td width="10%"><input type="checkbox" name="chkRoadsideAssitance"></td>
                        <td width="10%"><input type="text" name="assitance1"></td>
                        <td width="10%"><input type="text" name="assitance2"></td>
                        <td width="10%">&nbsp;</td><td>Roadside Assitance Ref#:</td>
                        <td width="10%"><input type="text" name="glass2"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="30%">Rental:</td>
                        <td width="10%"><input type="checkbox" name="chkRental"></td>
                        <td width="10%"><input type="text" name="rental1"></td>
                        <td width="10%"><input type="text" name="rental2"></td>
                        <td width="10%">&nbsp;</td>
                        <td width="10%">Rental Ref#:</td>
                        <td width="10%"><input type="text" name="rentalref"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Comments Tx:</td>
                        <td><input type="textarea" name="commentsTx" style="width: 300px; height: 50px;"></td>
                    </tr>
                </table>
            </div>
            <input type="submit" value="Submit">
        </form>

    </div>
</div>

</body>
</html>