<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>

      <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
      <!-- CSS styles for standard search box -->
      <style type="text/css">
         #tfheader{
            background-color:#c3dfef;
         }
         #tfnewsearch{
            float:right;
            padding:20px;
         }
         #tfnewclaim{
            float:bottom;
            padding:20px;
         }
         .tftextinput{
            margin: 0;
            padding: 5px 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px;
            border:1px solid #0076a3; border-right:0px;
            border-top-left-radius: 5px 5px;
            border-bottom-left-radius: 5px 5px;
         }
         .tfbutton {
            margin: 0;
            padding: 5px 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            border: solid 1px #0076a3; border-right:0px;
            background: #0095cd;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
            background: -moz-linear-gradient(top,  #00adee,  #0078a5);
            border-top-right-radius: 5px 5px;
            border-bottom-right-radius: 5px 5px;
         }
         .tfbutton:hover {
            text-decoration: none;
            background: #007ead;
            background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
            background: -moz-linear-gradient(top,  #0095cc,  #00678e);
         }
         /* Fixes submit button height problem in Firefox */
         .tfbutton::-moz-focus-inner {
            border: 0;
         }
         .tfclear{
            clear:both;
         }
      </style>
      </head>
      <body>
      <!-- HTML for SEARCH BAR -->

      <div id="tfheader">
         <form id="tfnewsearch" method="get" action="http://127.0.0.1:8081/search">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" name="search" class="tfbutton">

         </form>
         <form id="tfnewclaim" method="get" action="http://127.0.0.1:8081/claimMgr">
            <input type="submit" value="createClaim" name="createClaim" class="tfbutton">
         </form>
         <div class="tfclear">

            <% if(typeof(claim_id) == 'undefined') {%>
            <p>
               Welcome <strong><%= user.username %></strong>
               <a href="/signout" title="sign out">sign out</a>
            </p>
            <% } %>

            <% if(typeof(claim_id) !== 'undefined') {%>
            Claim Created for User : <span><%= user %></span> Claim_Id : <span><%= claim_id %></span>
            <% } %>


            <ul>
               <% if(typeof(claim_found) !== 'undefined') {
               if(claim_found == null || claim_found.length == 0){
                  console.log('claim not found');
               %>
               <li>Claim not found for User - <%= user %></li>
               <%}
                  else   claim_found.forEach(function(row) { %>
               <li><%= row.driver_fname %> - <%= row.driver_lname %></li>
               <li>claimId - <%= row.claims_id %></li>
               <li>Employee Id: - <%= row.driver_empid ? row.jobtitle : 'NA' %></li>
               <li>Job Title: - <%= row.job_position ? row.cell_phone_num : 'NA' %></li>
               <li>Driver Relation : - <%= row.driver_relation ? row.driver_relation : 'NA' %></li>
               <li>Driver Email Id: - <%= row.driver_email_id? row.driver_email_id : 'NA' %></li>
               <li>Driver Age : - <%= row.age ? row.age : 'NA' %></li>
               <li>Driver License : - <%= row.driver_license ? row.driver_license : 'NA' %></li>
               <li>Cell Phone Number: - <%= row.cell_phone_num ? row.cell_phone_num : 'NA' %></li>
               <li>Home Phone Number: - <%= row.home_phone_num ? row.home_phone_num : 'NA' %></li>
               <li>Work Phone Number: - <%= row.work_phone_num ? row.work_phone_num : 'NA' %></li>
               <% }); }%>
            </ul>
         </div>
      </div>
   </body>
</html>